# ===========================
# Node.js
# ===========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===========================
# Build
# ===========================
dist/
build/
coverage/

# ===========================
# Variables de entorno
# ===========================
.env
.env.*
!.env.example

# ===========================
# Logs
# ===========================
logs/
*.log

# ===========================
# IDE
# ===========================
.vscode/
.idea/

# ===========================
# Sistema Operativo
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Docker
# ===========================
docker-compose.override.yml